<header  class="bg-gray-300 text-white p-4 w-screen flex flex-row">
    <p class="font-bold text-2xl italic font-mono">L</p>
    <menu class="flex flex-row gap-3 mx-6">
    <app-header-button title="Accueil" link="/"></app-header-button>
    <app-header-button title="Favoris" link="/favorites"></app-header-button>
    <app-header-button title="Compendium" link="/personas"></app-header-button>
    <app-header-button title="Aléatoire" [call]="getRandomPersona"></app-header-button>
    </menu>
    <p class="font-bold text-2xl italic font-mono">R</p>
</header>
