<div
  class="grid grid-cols-10 gap-5 py-5 -rotate-3 divide-gray-400 ext-center w-fit sm:w-fit"
>
  @for (r of resists; track r.element) {
  <div class="flex flex-col gap-2 items-center">
    <img
      src="/element/{{ r.element }}.webp"
      alt="{{ r.element }}"
      class="w-15 sm:w-15 sm:h-15"
    />
    <hr class="border-gray-400" />
    <img
      src="/resists/{{ r.type }}.png"
      alt="{{ r.type }}"
      class="w-full sm:w-15 sm:h-15"
    />
  </div>
}
<button
  class="absolute -top-20 sm:top-15 right-10 sm:-right-15 bg-amber-500 text-black p-2 rounded-2xl border-white hover:bg-white hover:text-black"
  (click)="openLegendDialog()"
>
  Légende
</button>
</div>
